{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}

{% block content %}
<h1>Смена пароля</h1>

<form method="post" class="card">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <div class="card">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <p>
    <label for="{{ form.old_password.id_for_label }}">Текущий пароль</label>
    {{ form.old_password }}
    {% for error in form.old_password.errors %}
      <div class="muted">{{ error }}</div>
    {% endfor %}
  </p>

  <p>
    <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
    {{ form.new_password1 }}
    {% for error in form.new_password1.errors %}
      <div class="muted">{{ error }}</div>
    {% endfor %}
  </p>

  <p>
    <label for="{{ form.new_password2.id_for_label }}">Повторите новый пароль</label>
    {{ form.new_password2 }}
    {% for error in form.new_password2.errors %}
      <div class="muted">{{ error }}</div>
    {% endfor %}
  </p>

  {% if form.new_password1.help_text %}
    <div class="muted">
      {{ form.new_password1.help_text|safe }}
    </div>
  {% endif %}

  <button class="btn" type="submit">Сохранить</button>
  <a class="btn" href="{% url 'profile' %}">Отмена</a>
</form>
{% endblock %}
